<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title><%=title%></title>
</head>
<body>
	<h2><%=title%></h2>
	<fieldset>
		<form action='/updateUser' method="post">
			<input type="hidden" name="_method" value="PUT"/>
			<input type='text' name='name' required placeholder="이름" value="<%=user.name%>">
			<input type="hidden" name='uid' required placeholder="아이디" value="<%=user.uid%>" readonly >
			<input type='password' name='upw' required placeholder="비밀번호" value="<%=user.upw%>">
			<input type='submit' value='회원정보 수정'>
		</form>
	</fieldset>
	<fieldset>
		<form action='/deleteUser' method="post">
			<input type="hidden" name="_method" value="delete"/>
			<input type='text' name='name' required placeholder="이름" value="<%=user.name%>">
			<input type="hidden" name='uid' required placeholder="아이디" value="<%=user.uid%>" readonly >
			<input type='password' name='upw' required placeholder="비밀번호" value="<%=user.upw%>">
			<input type='submit' value='회원정보 삭제'>
		</form>
	</fieldset>
</body>
</html>